/* ---------------
/  Colors
------------------ */

body {
    font-family: 'Alegreya';
    background-color: #d8b4f8
	/* #94b1ff, #938ac8, #facabf, #d9bdef */
}

/* ---------------
/  Styling ids
------------------ */

#about {
    max-width: 75%;
    margin: 0 auto;
}

#about h1 {
    text-align: center;
}

#navbar-main {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar-main ul {
    list-style-type: none;
    display: block;
    margin: 0;
    /* display: inline; */
}

#navbar-main li {
    display: inline;
    padding: 8px;
}


/* ---------------
/  Typography
------------------ */

/* ---------------------------

 <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 900

.alegreya-<uniquifier> {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
------------------------------*/

.alegreya-sc-regular {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sc-medium {
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-sc-bold {
  font-family: "Alegreya SC", serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-sc-extrabold {
  font-family: "Alegreya SC", serif;
  font-weight: 800;
  font-style: normal;
}

