/* ---------------
/ Theme variables
------------------ */

:root {
    --radius: 8px;
}


/* ---------------
/  Colors
------------------ */

body {
    font-family: 'Alegreya';
    background-color: #d8b4f8
	/* #94b1ff, #938ac8, #facabf, #d9bdef */
}


/* --------------
/  Buttons
----------------- */

.button {
   /* border: 1px solid #CFCFCF;
    border-radius: var(--radius); */
    margin: 8px 16px 8px 0px;
    padding: 6px;
    transition: transform 0.1s;
    
}

.button:hover {
    background: var(--midpurple);
}

/* ---------------
/  Styling ids
------------------ */

#about {
    max-width: 75%;
    margin: 0 auto;
}

#about h1 {
    text-align: center;
}

#navbar-main {
    float: none;
    position: relative;
    text-align: center;
}




/* ---------------
/  Typography
------------------ */

/* ---------------------------

 <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 900

.alegreya-<uniquifier> {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
------------------------------*/

.alegreya-sc-regular {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sc-medium {
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-sc-bold {
  font-family: "Alegreya SC", serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-sc-extrabold {
  font-family: "Alegreya SC", serif;
  font-weight: 800;
  font-style: normal;
}

.im-fell-french-canon-sc-regular {
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
}

.marcellus-sc-regular {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
}
