{{ $asset_base := .Site.BaseURL }}

<head>

  <title>{{ .Title }}</title>


  <!-- CSS -->

  <!-- Fonts -->

  <!-- Font: Alegreya by Herta Tipográfica --> 
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <!-- Alegreya SC --> 
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700;800&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>



</head>
