{{ $asset_base := .Site.BaseURL }}
{{- $css := resources.Get "css/base.css" | fingerprint -}}
{{- $tufte := resources.Get "css/tufte.css" | fingerprint -}}
<head>

  <title>{{ .Title }}</title>


  <!-- CSS -->
  {{- with $css }} 
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css">
  {{- end }}
  {{- with $tufte }}
  <link rel="stylesheet" href="{{ $tufte.RelPermalink }}" type="text/css">
  {{- end}} 
  <!-- Fonts -->

  <!-- Font: Alegreya by Herta Tipográfica --> 
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <!-- Alegreya SC --> 
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700;800&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <!-- IM Fell French Canon SC -->
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">

  <!-- Marcellus SC -->
  <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">

  <!-- MathJax -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>



</head>
