<!DOCTYPE html>
{{ $profilepic := resources.Get "img/knsam.jpg" }}
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div id="about">
      <h1 class="alegreya-sc-bold">
	கண்ணப்பன் சம்பத் | Kannappan Sampath
      </h1>
      {{ partial "navbar.html" . }}
      <table width="100%" border="0">
      <tbody>
	<tr>
	  <td align="LEFT" valign="TOP" width="40%">
	    {{- with $profilepic.Process "crop 410x550 Center" }}
	    <img src="{{ .RelPermalink }}" alt="ca. 2015, Photo Courtesy: Henry de Valence" width="{{ .Width }}" height="{{ .Height }}" style="padding-right:1cm">
	    {{- end }}
	  </td>
	  <td valign="TOP">
	    {{ .Content }}
	  </td>
	</tr>
      </tbody>
    </table>
    </div>
  </body>
  

</html>

