<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}
    <div id="about">
      <h1 class="alegreya-sc-bold">
	கண்ணப்பன் சம்பத் | Kannappan Sampath
      </h1> 
      <table width="100%" border="0">
      <tbody>
	<tr>
	  <td align="LEFT" valign="TOP" width="40%">
	    <img src="/img/knsam.jpg" alt="ca. 2015, Photo Courtesy: Henry de Valence" width="410.4px" heigh="547.2px" style="padding-right:1cm">
	  </td>
	  <td valign="TOP">
	    {{ .Content }}
	  </td>
	</tr>
      </tbody>
    </table>
    </div>
  </body>
  

</html>

